.center-modal {
  margin: 5px;
  width: 100%;

}

.center-text {
  text-align: left;
  width: 100%;
  margin: 20px;
  word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .center-modal {
    margin: auto;
    width: 100%;
  }
  .center-text {
    text-align: left;
    width: 100%;
    margin: 20px;
    word-wrap: break-word;
  }
}

h5 {
  color: rgb(179, 179, 179);
}

p {
  color: rgb(179, 179, 179);
}

//div{
//  border: 2px solid red;
//}
