<div class="modal-body">
    <nb-card size="large">
        <nb-card-body>
            <div *ngFor="let subTest of subTests[level]">
                <div class="row">
                    <p class="center-text">{{subTest.name}}</p>
                </div>
                <div class="row center-modal">
                    <nb-radio-group (ngModelChange)="setOption(level,$event,subTest.index)"
                                    *ngFor="let option of options"
                                    [(ngModel)]="tests[level][subTest.index]" [value]="undefined"
                                    id="{{option.value}}"
                                    name="option{{subTest.index}}">
                        <nb-radio
                                [value]="option.value">
                            {{ option.label }}
                        </nb-radio>
                    </nb-radio-group>
                </div>
                <hr>
            </div>
        </nb-card-body>
    </nb-card>
</div>

