<div class="container container-login">
    <nb-card>
        <nb-card-header class="text-center">Login with Microsoft</nb-card-header>
        <nb-card-body>
            <button (click)="LogInMicrosoft()" fullWidth ghost nbButton>
            <span class="mat-button-wrapper">
               <img alt="Microsoft Logo" height="25px" src="../../../assets/img/svg/microsoft.svg">
            </span></button>
        </nb-card-body>
    </nb-card>
</div>

