.center-modal {
  margin: 5px;
  width: 100%;

}

.center-text {
  text-align: left;
  width: 100%;
  margin: 20px;
  word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .center-modal {
    margin: auto;
    width: 100%;
  }
  .center-text {
    text-align: left;
    width: 100%;
    margin: 20px;
    word-wrap: break-word;
  }
}

h5 {
  color: rgb(179, 179, 179);
}

p {
  color: rgb(179, 179, 179);
}

//div{
//  border: 2px solid red;
//}
.star-dop {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.half-dop {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 3rem;
  color: rgb(183, 215, 45);
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-dark:hover {
  background-color: rgb(183, 215, 45);
  border-color: rgb(183, 215, 45);
}

.btn-outline-dark {
  border-color: rgb(128, 124, 121);
}

.title-color {
  color: #00B1C9;
}
