<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title title-color">{{title}}</h4>
            <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <nb-card size="large">
                <nb-card-body>
                    <div *ngFor="let test of tests">
                        <div class="row">
                            <p class="center-items">{{test.name}}</p>
                        </div>
                        <div class="row center-modal center-items">

                            <ng-template #t3 let-fill="fill">
           <span [class.full]="fill === 100" class="star-dop ">
            <span [style.width.%]="fill" class="half-dop">★</span>★
            </span>
                            </ng-template>
                            <ngb-rating [readonly]="true"
                                        [starTemplate]="t3" max="5"
                                        rate=" {{grades['grades'][test.index]}}"></ngb-rating>

                        </div>
                        <hr>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>


        <div class="modal-footer">
            <button (click)="activeModal.close('Close click')" class="btn btn-outline-dark" type="button">Fechar
            </button>
        </div>
    </div>
</div>
