<nb-layout>

    <nb-layout-header fixed>

        <div>

            <img alt="" src="../assets/img/svg/logo.svg">
        </div>

    </nb-layout-header>

    <nb-sidebar *ngIf="auth.loginState()|async" state="compacted">

        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>

    <nb-layout-column>

        <router-outlet></router-outlet>

    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>
