<div class="container">
    <nb-card>
        <nb-card-header>
            <h5 class="text-center">Atualização De Dados</h5>
        </nb-card-header>
        <nb-card-body>
            <div class="container">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Carregar</span>
                    </div>
                    <div class="custom-file">
                        <input (change)="changeListener($event.target.files)" class="upload  custom-file-input"
                               id="inputGroupFile01" type="file">
                        <label class="custom-file-label" for="inputGroupFile01">Escolher Ficheiro</label>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

</div>
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        color="#fff"
        size="medium"
        type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Carregando Dados</p>
</ngx-spinner>
