<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <nb-card>
            <nb-card-header>
                <h5>DOP</h5>
            </nb-card-header>
            <nb-card-body>
                <nb-select (selectedChange)="setSelectedDop($event)" [disabled]="getDopsStateDisable() | async"
                           [nbSpinner]="getDopsStateLoading() | async"
                           [selected]="getSelectedDop()|async" fullWidth
                           id="dopsSelector" nbSpinnerMessage=""
                           nbSpinnerSize="small"
                           nbSpinnerStatus="info" placeholder="Selecione uma opção" shape="round">
                    <!--          <nb-option value=""></nb-option>-->
                    <nb-option *ngFor="let dop of getDops()" [value]="dop.id">{{dop.name}}</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <nb-card>
            <nb-card-header>
                <h5>Treinador</h5>
            </nb-card-header>
            <nb-card-body>
                <nb-select (selectedChange)="setSelectAval($event)" [disabled]="getAvalsStateDisable() | async"
                           [nbSpinner]="getAvalsStateLoading() | async"
                           [selected]="getSelectedAval()|async"
                           fullWidth nbSpinnerMessage=""
                           nbSpinnerSize="small" nbSpinnerStatus="info"
                           placeholder="Selecione uma opção" shape="round">
                    <!--          <nb-option value=""></nb-option>-->
                    <nb-option *ngFor="let aval of getAvals()" [value]="aval.id">{{aval.displayName}}</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <nb-card>
            <nb-card-header>
                <h5>LOJA</h5>
            </nb-card-header>
            <nb-card-body>
                <nb-select (selectedChange)="setSelectedStore($event)" [disabled]="getStoresStateDisable() | async"
                           [nbSpinner]="getStoresStateLoading() | async" [selected]="getSelectedStore() | async"
                           fullWidth nbSpinnerMessage=""
                           nbSpinnerSize="small"
                           nbSpinnerStatus="info" placeholder="Selecione uma opção" shape="round">
                    <!--          <nb-option value=""></nb-option>-->
                    <nb-option *ngFor="let store of getStores()" [value]="store.id">{{store.displayName}}</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <nb-card>
            <nb-card-header>
                <h5>CLASSIFICAÇÃO LOJA</h5>
            </nb-card-header>
            <nb-card-body [nbSpinner]="getCollaboratorsStateLoading() | async"
                          nbSpinnerMessage="" nbSpinnerSize="large"
                          nbSpinnerStatus="info"
                          size="large">
                <div class="row">
                    <div class="col-lg-8 col-md-5 col-sm-9 col-8">
                        <ng-template #t let-fill="fill">
           <span [class.full]="fill === 100" class="star">
                <span [style.width.%]="fill" class="half">★</span>★
            </span>
                        </ng-template>

                        <ngb-rating [rate]="GetStoreRate()" [readonly]="true" [starTemplate]="t" max="5"></ngb-rating>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-1 col-4">
                        <h5 class="starValue">{{GetStoreRate()}}</h5>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>
<div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
        <nb-card [nbSpinner]="getCollaboratorsStateLoading() | async"
                 nbSpinnerMessage="" nbSpinnerSize="large"
                 nbSpinnerStatus="info"
                 size="large">
            <nb-card-header>
                <h5>COLABORADORES</h5>
                <p>Selecione um colaborador</p>
            </nb-card-header>
            <nb-card-body>

                <nb-list size="large">
                    <nb-list-item *ngFor="let collaborator of getCollaborators()" class="padding-3" id="emploSelect">
                        <div class="row">
                            <div class="col-lg-7 col-sm-12">
                                <button (click)="setSelectedCollaborator(collaborator.id)"
                                        class="padding-3 btn-colab text-left"
                                        fullWidth
                                        ghost nbButton size="small"
                                >{{collaborator.displayName}}
                                </button>
                            </div>
                            <div class="col-lg-4 col-sm-9 stars">

                                <ng-template #t let-fill="fill">
           <span [class.full]="fill === 100" class="star-emplo">
            <span [style.width.%]="fill" class="half-emplo">★</span>★
            </span>
                                </ng-template>

                                <ngb-rating *ngIf="collaborator.state == 1 && collaborator.rank >=0 " [readonly]="true"
                                            class="starts"
                                            [starTemplate]="t" max="5"
                                            rate="{{collaborator.rank}}"></ngb-rating>
                                <span *ngIf="collaborator.rank > 0" class="emploRank">N{{collaborator.rank}}</span>
                                <!--              <nb-icon *ngIf="emplo.state == 1" icon="checkmark-outline" status="success"-->
                                <!--                       style="color: green;"></nb-icon>-->
                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
        <nb-card *ngFor="let result of getCollaboratorTests()" size="large">
            <nb-card-header>
                <h5>AVALIAÇÃO</h5>
                <p>{{result.createdAt| date: 'yyyy-MM-dd'}}</p>
                <br>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-5 offset-2 offset-lg-1">
                        <h5>TESTE</h5>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-5">
                        <h5>ESTADO</h5>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body [nbSpinner]="getCollaboratorsTestLoading() | async"
                          nbSpinnerMessage="" nbSpinnerSize="large"
                          nbSpinnerStatus="info"
                          size="large">
                <div class="row">
                    <div class="col-lg-8 col-md-9 col-sm-10 col-12">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-8 col-8">
                                <button (click)="open(content1)" [disabled]="getCollaboratorState(0) |async" ghost
                                        nbButton>{{Tests[0]}}</button>
                            </div>
                            <div class="col-lg-4 col-md-2 col-sm-4 col-4">
                                <div
                                        *ngIf="dashboardState.collaborators.selected !==null && dashboardState.collaborators.selected !== undefined && result?.test1 !== undefined ">
                                    <nb-icon *ngIf="result?.test1.finalGrade >= 3" class="icon-large"
                                             icon="checkmark-outline"
                                             status="success">
                                    </nb-icon>
                                    <nb-icon *ngIf="result?.test1.finalGrade < 3" class="icon-large"
                                             icon="close-outline" status="danger">

                                    </nb-icon>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-8 col-8">
                                <button (click)="open(content2)" [disabled]="getCollaboratorState(1)|async"
                                        class="level-color" ghost
                                        nbButton>{{Tests[1]}}</button>
                            </div>
                            <div class="col-lg-4 col-md-2 col-sm-4 col-4">
                                <div
                                        *ngIf="dashboardState.collaborators.selected !==null && dashboardState.collaborators.selected !== undefined && result.test2 !== undefined ">
                                    <nb-icon *ngIf="result?.test2.finalGrade >= 3" class="icon-large"
                                             icon="checkmark-outline"
                                             status="success"></nb-icon>
                                    <nb-icon *ngIf="result?.test2.finalGrade < 3" class="icon-large"
                                             icon="close-outline"
                                             status="danger"></nb-icon>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <button (click)="open(content3)" [disabled]="getCollaboratorState(2)|async" ghost
                                        nbButton>{{Tests[2]}}</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <div
                                        *ngIf="dashboardState.collaborators.selected !==null && dashboardState.collaborators.selected !== undefined && result.test3 !== undefined ">
                                    <nb-icon *ngIf="result?.test3.finalGrade >= 3" class="icon-large"
                                             icon="checkmark-outline"
                                             status="success"></nb-icon>
                                    <nb-icon *ngIf="result?.test3.finalGrade < 3" class="icon-large"
                                             icon="close-outline"
                                             status="danger"></nb-icon>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <button (click)="open(content4)" [disabled]="getCollaboratorState(3)|async" ghost
                                        nbButton>{{Tests[3]}}</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <div
                                        *ngIf="dashboardState.collaborators.selected !==null && dashboardState.collaborators.selected !== undefined && result.test4 !== undefined ">
                                    <nb-icon *ngIf="result?.test4.finalGrade >= 3" class="icon-large"
                                             icon="checkmark-outline"
                                             status="success"></nb-icon>
                                    <nb-icon *ngIf="result?.test4.finalGrade < 3" class="icon-large"
                                             icon="close-outline"
                                             status="danger"></nb-icon>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <button (click)="open(content5)" [disabled]="getCollaboratorState(4)|async" ghost
                                        nbButton>{{Tests[4]}}</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <div
                                        *ngIf="dashboardState.collaborators.selected !==null && dashboardState.collaborators.selected !== undefined && result.test5 !== undefined ">
                                    <nb-icon *ngIf="result?.test5.finalGrade >= 3" class="icon-large"
                                             icon="checkmark-outline"
                                             status="success"></nb-icon>
                                    <nb-icon *ngIf="result?.test5.finalGrade < 3" class="icon-large"
                                             icon="close-outline"
                                             status="danger"></nb-icon>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--          Modal Template-->
                <div>
                    <!--                    1. Level – Lead-->
                    <ng-template #content1 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-basic-title">{{Tests[0]}}</h5>
                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <app-modal-tab [options]="options" [subTests]="SubTests" [testName]="Tests[0]"
                                       level="0"></app-modal-tab>
                        <div class="modal-footer">
                            <button (click)="saveTestResult(modal);" [disabled]="getTestSaveState()"
                                    class="btn btn-outline-dark"
                                    type="button"><span>GRAVAR</span>
                            </button>
                        </div>
                    </ng-template>
                    <!--          2. Level – Enquire-->
                    <ng-template #content2 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title">{{Tests[1]}}</h5>
                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <app-modal-tab [options]="options" [subTests]="SubTests" [testName]="Tests[1]"
                                       level="1"></app-modal-tab>
                        <div class="modal-footer">
                            <button (click)="saveTestResult(modal);" [disabled]="getTestSaveState()"
                                    class="btn btn-outline-dark"
                                    type="button"><span>GRAVAR</span>
                            </button>
                        </div>
                    </ng-template>
                    <!--          3. Level – Value-->
                    <ng-template #content3 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title">{{Tests[2]}}</h5>
                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <app-modal-tab [options]="options" [subTests]="SubTests" [testName]="Tests[2]"
                                       level="2"></app-modal-tab>
                        <div class="modal-footer">
                            <button (click)="saveTestResult(modal);" [disabled]="getTestSaveState()"
                                    class="btn btn-outline-dark"
                                    type="button"><span>GRAVAR</span>
                            </button>
                        </div>
                    </ng-template>
                    <!--          4. Level – Engage-->
                    <ng-template #content4 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title">{{Tests[3]}}</h5>
                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <app-modal-tab [options]="options" [subTests]="SubTests" [testName]="Tests[3]"
                                       level="3"></app-modal-tab>
                        <div class="modal-footer">
                            <button (click)="saveTestResult(modal);" [disabled]="getTestSaveState()"
                                    class="btn btn-outline-dark"
                                    type="button"><span>GRAVAR</span>
                            </button>
                        </div>
                    </ng-template>
                    <!--          5. Level – Level Up-->
                    <ng-template #content5 let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title">{{Tests[4]}}</h5>
                            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <app-modal-tab [options]="options" [subTests]="SubTests" [testName]="Tests[4]"
                                       level="4"></app-modal-tab>
                        <div class="modal-footer">
                            <button (click)="saveTestResult(modal);" [disabled]="getTestSaveState()"
                                    class="btn btn-outline-dark"
                                    type="button"><span>GRAVAR</span>
                            </button>
                        </div>
                    </ng-template>
                </div>
                <!--end of modal template-->
            </nb-card-body>
        </nb-card>
    </div>
</div>

