
.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.stars {
  margin: 0;
}

.full {
  color: rgb(183, 215, 45);
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 3rem;
  color: rgb(183, 215, 45);
}

.star-emplo {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}

.full-emplo {
  color: rgb(183, 215, 45);
}

.half-emplo {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 3rem;
  color: rgb(183, 215, 45);
}

.center {
  margin: auto;
  width: 50%;
}


.starValue {
  font-size: 35px;
}

.padding-3 {
  padding: 5px !important;
}

.btn-colab {
  border-color: #bdbdbd !important;
  color: #525252 !important;
  font-size: 70%;
}

@media only screen and (max-width: 600px) {
  .btn-colab {
    border-color: #bdbdbd !important;
    color: #525252 !important;
    font-size: 12px !important;
  }
  .starts {
    margin-left: 50px;
  }
  .emploRank {
    font-size: 12px;
  }
  .star-emplo {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  .center-modal {
    margin: auto;
    width: 80%;
  }
}

h5 {
  color: rgb(179, 179, 179);
}

p {
  color: rgb(179, 179, 179);
}

.emploRank {
  padding-left: 2px;
  color: #00B6D6;
  margin-left: 15px;
}

.icon-large {
  font-size: 2.5rem !important;
}

.level-color {
  color: #04B3CB;
}
