@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';

//$nb-themes: nb-register-theme((
//        select-outline-success-border-color :rgb(183, 215, 45),
//        color-success-default :rgb(183, 215, 45),
//        color-success-hover :rgb(183, 215, 45),
//        color-success-500 :rgb(183, 215, 45),
//        color-success-focus :rgb(183, 215, 45),
//        select-min-width: 10px,
//), corporate, corporate);
$nb-themes: nb-register-theme((
        select-outline-success-border-color :rgb(183, 215, 45),
        color-success-default :rgb(183, 215, 45),
        color-success-hover :rgb(183, 215, 45),
        color-success-500 :rgb(183, 215, 45),
        color-success-focus :rgb(183, 215, 45),
        select-min-width: 10px,
        text-primary-color:#04B3CB,
        spinner-background-color:rgba(255, 255, 255, 0)
), cosmic, cosmic);
$nb-themes: nb-register-theme((
        select-outline-success-border-color :rgb(183, 215, 45),
        color-success-default :rgb(183, 215, 45),
        color-success-hover :rgb(183, 215, 45),
        color-success-500 :rgb(183, 215, 45),
        color-success-focus :rgb(183, 215, 45),
        select-min-width: 10px,
        text-primary-color:#04B3CB,
        spinner-background-color:rgba(255, 255, 255, 0)
), corporate, corporate);
