//div {
//  border: 2px solid red;
//}

.star-dop {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: rgb(183, 215, 45);
}

.pt-7 {
  padding-top: 7px;
}

.nb-card-min {
  min-height: 180px;
}

.half-dop {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 4rem;
  color: rgb(183, 215, 45);
}

.star-emplo {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full-emplo {
  color: rgb(183, 215, 45);
}

.half-emplo {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 4rem;
  color: rgb(183, 215, 45);
}

.star-span {
  padding-left: 5px;
}

.card-reviewer {
  height: 83%;
}

.max-h-450 {
  max-height: 300px;
}

.rank {
  float: right;
}

h5 {
  color: rgb(179, 179, 179);
}
