<div class="row">

    <div class="col-xl-4   col-lg-3 col-md-4 col-sm-12">
        <nb-card class="nb-card-min">
            <nb-card-header>
                <h5>DOP NACIONAL</h5>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-8 col-sm-9 col-8 pt-7">
                        <ng-template #t let-fill="fill">
           <span [class.full]="fill === 100" class="star-dop">
            <span [style.width.%]="fill" class="half-dop">★</span>★
            </span>
                        </ng-template>

                        <ngb-rating [readonly]="true"
                                    [starTemplate]="t" max="5"
                                    rate="{{getGlobalRank()}}"></ngb-rating>
                    </div>
                    <div class="col-xl-5  col-lg-1 col-md-4 col-sm-3 col-4">
                        <h3 class="starValue rank">{{getGlobalRank()}}</h3>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <nb-card>
            <nb-card-header>
                <h5>DOP</h5>
                <div class="row">
                    <div class="col-xl-7 col-md-8 col-sm-9 col-8">
                        <ng-template #t2 let-fill="fill">
           <span [class.full]="fill === 100" class="star-emplo">
            <span [style.width.%]="fill" class="half-emplo">★</span>★
            </span>
                        </ng-template>
                        <ngb-rating [readonly]="true"
                                    [starTemplate]="t2" max="5"
                                    rate="{{getDopsRank()}}"></ngb-rating>
                    </div>
                    <div class="col-xl-5 col-md-4 col-sm-3 col-4">
                        <h3 class="starValue rank">{{getDopsRank()}}</h3>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <nb-select (selectedChange)="setSelectDop($event)" [disabled]="getDopsStateDisable() | async"
                           [nbSpinner]="getDopsStateLoading() | async"
                           [selected]="getSelectedDop()|async"
                           fullWidth nbSpinnerMessage=""
                           nbSpinnerSize="small" nbSpinnerStatus="info"
                           placeholder="Selecione uma opção" shape="round">
                    <nb-option *ngFor="let dops of getDops()" [value]="dops.id">{{dops.name}}</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12">
        <nb-card>
            <nb-card-header>
                <h5>LOJA</h5>
                <div class="row">
                    <div class="col-xl-7 col-md-8 col-sm-9 col-8">
                        <ng-template #t3 let-fill="fill">
           <span [class.full]="fill === 100" class="star-emplo ">
            <span [style.width.%]="fill" class="half-emplo">★</span>★
            </span>
                        </ng-template>
                        <ngb-rating [readonly]="true"
                                    [starTemplate]="t3" max="5"
                                    rate="{{getStoreRank()}}"></ngb-rating>
                    </div>
                    <div class="col-xl-5 col-md-4 col-sm-3 col-4">
                        <h3 class="starValue rank   ">{{getStoreRank()}}</h3>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <nb-select (selectedChange)="setSelectStore($event)" [disabled]="getStoreStateDisable() | async"
                           [nbSpinner]="getStoreStateLoading() | async"
                           [selected]="getSelectedStore()|async"
                           fullWidth nbSpinnerMessage=""
                           nbSpinnerSize="small" nbSpinnerStatus="info"
                           placeholder="Selecione uma opção" shape="round">
                    <nb-option *ngFor="let store of getStores()" [value]="store.id">{{store.displayName}}</nb-option>
                </nb-select>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-xl-4">
        <nb-card>
            <nb-card-header>
                <h5 class="text-center">Média por DOP</h5>
            </nb-card-header>
            <nb-card-body [nbSpinner]="getDopsStateLoading() | async"
                          nbSpinnerMessage=""
                          nbSpinnerSize="large" nbSpinnerStatus="info">

                <ngx-charts-bar-vertical

                        (select)="onDopSelect($event)"
                        [gradient]="dopGraph.gradient"
                        [legendPosition]="dopGraph.legendPosition"
                        [legend]="dopGraph.showLegend"
                        [results]="getDopGraphData()|async"
                        [scheme]="colorScheme"
                        [showDataLabel]="true"
                        [showGridLines]="dopGraph.showGridLines"
                        [showXAxisLabel]="dopGraph.showXAxisLabel"
                        [showYAxisLabel]="dopGraph.showYAxisLabel"
                        [view]="getGraphView()"
                        [xAxisLabel]="dopGraph.xAxisLabel"
                        [xAxis]="dopGraph.showXAxis"
                        [xScaleMax]="dopGraph.xScaleMax"
                        [yAxisLabel]="dopGraph.yAxisLabel"
                        [yAxis]="dopGraph.showYAxis"
                >
                </ngx-charts-bar-vertical>
            </nb-card-body>
        </nb-card>

    </div>
    <div *ngIf="innerWidth>900" class="col-xl-8">
        <nb-card>
            <nb-card-header>
                <h5 class="text-center">Média por Loja</h5>
            </nb-card-header>
            <nb-card-body [nbSpinner]="getStoreStateLoading() | async"
                          nbSpinnerMessage=""
                          nbSpinnerSize="large" nbSpinnerStatus="info">
                <ngx-charts-bar-vertical
                        (select)="onStoreSelect($event)"
                        [gradient]="storeGraph.gradient"
                        [legendPosition]="storeGraph.legendPosition"
                        [legend]="storeGraph.showLegend"
                        [results]="getStoreGraphData()|async"
                        [scheme]="colorScheme"
                        [showDataLabel]="true"
                        [showGridLines]="storeGraph.showGridLines"
                        [showXAxisLabel]="storeGraph.showXAxisLabel"
                        [showYAxisLabel]="storeGraph.showYAxisLabel"
                        [view]="get2DGraphView()"
                        [xAxisLabel]="storeGraph.xAxisLabel"
                        [xAxis]="storeGraph.showXAxis"
                        [yAxisLabel]="storeGraph.yAxisLabel"
                        [yAxis]="storeGraph.showYAxis"
                        [yScaleMax]="storeGraph.YScaleMax"
                >

                </ngx-charts-bar-vertical>
            </nb-card-body>
        </nb-card>

    </div>
    <div *ngIf="innerWidth<=900" class="col-xl-8">
        <nb-card [nbSpinner]="getStoreStateLoading() | async"
                 nbSpinnerMessage=""
                 nbSpinnerSize="large" nbSpinnerStatus="info">
            <nb-card-header>
                <h5 class="text-center">Média por Loja</h5>
            </nb-card-header>
            <nb-card-body>
                <nb-list size="large">
                    <nb-list-item *ngFor="let store of getStoreGraphData()|async" class="padding-3" id="emploSelect">
                        <div class="row">
                            <div class="col-7">
                                <button (click)="onStoreSelect(store)"
                                        class="padding-3 btn-colab text-left"
                                        fullWidth
                                        ghost nbButton size="small"
                                >{{store.name}}
                                </button>
                            </div>
                            <div class="col-4">

                                <ng-template #t let-fill="fill">
           <span [class.full]="fill === 100" class="star-emplo">
            <span [style.width.%]="fill" class="half-emplo">★</span>★
            </span>
                                </ng-template>

                                <ngb-rating [readonly]="true"
                                            [starTemplate]="t" max="5"
                                            rate="{{store.value}}"></ngb-rating>
                                <!--              <nb-icon *ngIf="emplo.state == 1" icon="checkmark-outline" status="success"-->
                                <!--                       style="color: green;"></nb-icon>-->
                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
</div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <nb-card [nbSpinner]="getCollaboratorsStateLoading() | async"
                 nbSpinnerMessage="" nbSpinnerSize="large"
                 nbSpinnerStatus="info"
                 size="large">
            <nb-card-header>
                <h5>COLABORADORES</h5>
            </nb-card-header>
            <nb-card-body>

                <nb-list size="large">
                    <nb-list-item *ngFor="let collaborator of getCollaborators()" class="padding-3" id="emploSelect">
                        <div class="row">
                            <div class="col-xl-3">
                                <button
                                        class="padding-3 btn-colab text-left"
                                        fullWidth
                                        ghost nbButton size="small"
                                >{{collaborator.displayName}}
                                </button>
                            </div>
                            <div class="col-xl-2 pt-7">

                                <ng-template #t let-fill="fill">
           <span [class.full]="fill === 100" class="star-emplo">
            <span [style.width.%]="fill" class="half-emplo">★</span>★
            </span>
                                </ng-template>

                                <ngb-rating *ngIf="collaborator.state == 1 && collaborator.rank >=0 " [readonly]="true"
                                            [starTemplate]="t" max="5"
                                            rate="{{collaborator.rank}}"></ngb-rating>
                                <span *ngIf="collaborator.rank > 0" class="emploRank">N{{collaborator.rank}}</span>
                                <!--              <nb-icon *ngIf="emplo.state == 1" icon="checkmark-outline" status="success"-->
                                <!--                       style="color: green;"></nb-icon>-->
                            </div>
                            <div class="col-xl-7">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-12">
                                        <button (click)="open(collaborator.id,0)"
                                                [disabled]="getStatusDisable(collaborator.id,1)"
                                                [status]="getStatus(collaborator.id,1)" fullWidth ghost nbButton
                                                style="font-size: 11px">{{Tests[0]}}
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <button (click)="open(collaborator.id,1)"
                                                [disabled]="getStatusDisable(collaborator.id,2)"
                                                [status]="getStatus(collaborator.id,2)" fullWidth ghost nbButton
                                                style="font-size: 11px">{{Tests[1]}}
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <button (click)="open(collaborator.id,2)"
                                                [disabled]="getStatusDisable(collaborator.id,3)"
                                                [status]="getStatus(collaborator.id,3)" fullWidth ghost nbButton
                                                style="font-size: 11px">{{Tests[2]}}
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <button (click)="open(collaborator.id,3)"
                                                [disabled]="getStatusDisable(collaborator.id,4)"
                                                [status]="getStatus(collaborator.id,4)" fullWidth ghost nbButton
                                                style="font-size: 11px">{{Tests[3]}}
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12">
                                        <button (click)="open(collaborator.id,4)"
                                                [disabled]="getStatusDisable(collaborator.id,5)"
                                                [status]="getStatus(collaborator.id,5)" fullWidth ghost nbButton
                                                style="font-size: 11px">{{Tests[4]}}
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>
